*{
    box-sizing: border-box;
}

#wrap{
    background:url(Virus-bunnillustrasjon-04.png) no-repeat center bottom; 
    padding-bottom:200px;
}

.container{
    position: relative;
}

h1{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
text-transform: uppercase;
color: #3AAFA9;
}

h2{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #2B7A78;
}

h2.menu{
color: #17252A;
}

h3{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #2B7A78;
}

p {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #17252A;
}

/*Måtte endre fonten på denne siden for å samsvare med infografikken*/
p.facts
{
    font-family: 'Myriad pro', sans-serif;
    font-size: 18px;
}

p.lead, p.lead-index {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #17252A;
}

ul {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #17252A;
}

/*Fjernet styling på hover*/
a:hover {
  color: rgba(0,0,0,0);
}

/*Farge på navbar - overskrive bootstrap - kunne heller brukt navbar-custom og stylet fra scratch*/
.bg-light {
    background-color: #2B7A78!important;
}

/*Font i navbar*/
ul.navbar-nav
{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
}

/*Fjernet farger på hamburgermeny
Kilde: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color
*/
.navbar-dark .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    border: none;
    outline: none;
}
.hamburger{
    color: #FEFFFF; 
    font-size:35px;
}

/*Forsøkt fjernet styling på type=button i mobil visning - fungerer ikke - gjelder både hamburdger som er klasse og accordion som er type button*/
.button{
    border: none;
    outline: none;
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
button{
    border: none;
    outline: none;
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

footer{
    text-align: center;
    width: 100%;
    background-color: #DEF2F1;
    position: absolute;
    margin-top: 200px; /*Margin tilsvarer padding på wrap bilde slik at de ikke overlapper*/
}

/*STYLING INDEX*/

/*Forsidebilde*/
#index{
    background-color: aliceblue;
    height: 400px;
}

/*Menybokser på indexsiden*/
.menu-body{
    background-color: #DEF2F1;
    padding: 10px;
    text-align: center;
    display: block;
    height: 100%;
}

/*Kilde: https://stackoverflow.com/questions/676324/div-background-color-to-change-onhover */
.menu-body:hover{
    background-color: #3AAFA9;
    text-align: center;
}

/*STYLING REGLER*/

/*Bakgrunnsfargen på accordion */
.card-header {
    background-color: white;
    display: block;
}

/*Chevron
Kilde: https://jsfiddle.net/bootstrapious/cqkpjvfw */
.stretched-link {
    width: 100%;
    position:relative;
}

.stretched-link::before {
    font-family: 'FontAwesome';
    content: '\f078';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: block;
    font-size:30px;
    font-weight:300;
}

.stretched-link[aria-expanded='true']::before {
    content: '\f077';
}


/*STYLING SYK*/

.symptoms-card{
    background-color: #DEF2F1;
    margin-top: 10px;
    padding: 10px;
}

/*STYLING FAKTA*/

/*Bakgrunnen til smittetallet R*/
.repro-no
{
    background-color: #DEF2F1;
    padding: 10px;
}

/*Margin rundt tekst*/
.facts{
    margin: 10px;
}





@media screen and (max-width:500px) {
   
/*Fjerne bildet eller legge det i bunn på mobilskjerm*/

    #index{
    background-color:#2B7A78;
    height: 200px;
}
  
h1.index{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
text-transform: uppercase;
color: white;
}
    
p.lead-index {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: white;
}

    .menu-body{
    margin-bottom: 10px;
     height: 200px;

}

 .navbar-toggler {
      border: none;
      outline: none;
    }
    
.button{
    border: none;
    outline: none;
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
}
