*{
    box-sizing: border-box;
}
/*Kilde: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
#content-container{
    background:url(Virus-bunnillustrasjon-04.png) no-repeat center bottom; 
    position: relative; 
    min-height: 100vh; 
}

#wrap{
    padding-bottom: 300px;
    margin: 0px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-transform: uppercase;
    color: #3AAFA9;
}

h1.index{
    color: #FEFFFF;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #2B7A78;
}

h2.menu{
    color: #17252A;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2B7A78;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #17252A;
    margin-bottom: 0;
}

p.facts
{
    font-family: 'Myriad pro', sans-serif;
    font-size: 18px;
}

p.lead, p.lead-index {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #17252A;
}
    
p.lead-index {
    color: #FEFFFF;
}


ul{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #17252A;
}

/*STYLING NAVBAR*/


/*Farge på navbar*/
.bg-light {
    background-color: #2B7A78!important;
}

/*Font i navbar*/
ul.navbar-nav{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

/*Fjernet farger på hamburgermeny
Kilde: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color
*/
.navbar-dark .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    border: none;
    outline: none;
}
.hamburger{
    color: #FEFFFF; 
    font-size:35px;
}

/*STILNG FOOTER*/

#footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: #DEF2F1;
   
     /*Margin tilsvarer padding på wrap bilde slik at de ikke overlapper*/
}

#footer a{
    color: #17252A;
}

#footer a:hover {
    color: #A30083;
    text-decoration:none;
}

/*STYLING INDEX*/

/*Forsidebilde*/
#index{
    background-color:#2B7A78;
    height: 250px;
}

/*Menybokser på indexsiden*/
.menu-body{
    background-color: #DEF2F1;
    padding: ;
    text-align: center;
    display: block;
    height: 100%;
}

/*Fjernet styling på hover i menucards*/
a:hover {
    color: rgba(0,0,0,0);
}

/*Kilde: https://stackoverflow.com/questions/676324/div-background-color-to-change-onhover */
.menu-body:hover{
    background-color: #3AAFA9;
    text-align: center;
}

/*STYLING REGLER*/

/*Bakgrunnsfargen på accordion */
.card-header {
    background-color: #FEFFFF;
    display: block;
}

/*Forsøkt fjernet styling på type=button i mobil visning - fungerer ikke - gjelder både hamburdger som er klasse og accordion som er type button*/
.button{
    border: none;
    outline: none;
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}


/*CHEVRON
Kilde: https://jsfiddle.net/bootstrapious/cqkpjvfw */
.collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
    
}

.collapsible-link::before {
    font-family: 'FontAwesome';
    content: '\f078';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: block;
    font-size:30px;
    font-weight:300;
    color: #3AAFA9;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f077';
}


/*STYLING SYK*/

.symptoms-card{
    background-color: #DEF2F1;
    margin-top: 10px;
    padding: 10px;
}

/*STYLING FAKTA*/

/*Bakgrunnen til smittetallet R*/
.repro-no
{
    background-color: #DEF2F1;
    padding: 10px;
}

/*Margin rundt tekst*/
.facts{
    margin: 10px;
}

/*For å unngå at bildene på fakta.html overlapper når siden er responsiv. Kilde: https://stackoverflow.com/questions/39759892/html-css-make-image-resize-on-smaller-screens*/    
img {
  max-width: 100%;
}  

@media screen and (max-width:767.98px) {
   
/*Endret til tilpasset visning på mobile flater akkurat i breakpoint der boksene går fra liggende horisontalt til vertikalt.*/
#index{
    height: 250px;
}
  
#wrap{
    padding-bottom: 150px;
}

.menu-body{
    margin-bottom: 10px;
    height: 200px;
}

}